.button
	border: 2px solid $white
	border-radius: 12px
	padding: 16px
	-webkit-transition-duration: 1s
	transition-duration: 1s
	cursor: pointer
	a
		text-decoration: none

.button__white
	border: 2px solid $white
	border-radius: 12px
	padding: 16px
	-webkit-transition-duration: 1s
	transition-duration: 1s
	cursor: pointer
	a
		text-decoration: none
		color: $white
	&:hover
		background-color: $white
		a
			color: $black

.button__black
	border: 2px solid $black
	border-radius: 12px
	padding: 16px
	-webkit-transition-duration: 1s
	transition-duration: 1s
	cursor: pointer
	a
		text-decoration: none
		color: $black
	&:hover
		background-color: $black
		a
			color: $white
		