#header
	background-image: url('/images/aesthetics-lab.png')
	background-attachment: fixed
	background-position: center top
	background-repeat: no-repeat
	background-size: cover
	.container
		display: grid
		grid-template-rows: 100%
		grid-template-columns: 1fr 1fr 1fr
		.header__content
			grid-row: 1
			grid-column: 2 / 3
			padding: 60px 0 80px 0
			.header__logo
				text-align: center
				img
					height: 100%
					width: 100%
			.header__contact
				text-align: center
				padding: 0 20%
				// .button
				// 	background-color: $black
				// 	a
				// 		color: $white
				// 	&:hover
				// 		background-color: $white
				// 		a
				// 			color: $black
