#work
	background-color: $dark-white
	.work__list
		.work--1
			display: grid
			grid-template-rows: 1fr
			grid-template-columns: 1fr 1fr
			.work--text--1
				grid-row: 1
				grid-column: 1 / 2
				h5
					margin: 0
					padding: 0 0 40px 0
					
			.work__image--1
				grid-row: 1
				grid-column: 2 / 3
				text-align: center