#header
	background-image: url('/images/aesthetics-lab-1.jpg')
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	opacity: 0.75
	.container
		display: grid
		grid-template-rows: 1fr
		grid-template-columns: 1fr 1fr 1fr
		.header__content
			grid-row: 1
			grid-column: 2 / 3
			.header__logo
				text-align: center

			.header__contact
				text-align: center