---
title: Welcome to Middleman
---
/ Intro section
= partial 'intro'

/ How it works section
= partial 'work'

/ Contacts section
= partial 'contacts'

/ Partners
= partial 'partners'

<section>
	<h1>HELLO WORLD</h1>
		<p>Website in progress...</p>
</section>
